.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-action {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-action label {
    margin-bottom: 5px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-action input, textarea {
    border: 1px solid rgb(78, 99, 99);
    border-radius: 2px;
    min-height: 25px;
    width: 250px;
}

.form-submit {
    padding: 5px 10px;
    font-size: large;
    background-color:rgb(127, 240, 240);
    border: 1px solid rgb(78, 99, 99);
    border-radius: 5px;
}

.form-submit:hover {
    cursor: pointer;
}